@mixin respond-to($media) {
  @if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $media == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}

@mixin activeShadow($type) {
  @if $type == link {
    box-shadow: makeShadow();

    &:hover {
      box-shadow: makeShadow(hover);
    }
  } @else if $type == input {
    box-shadow: makeShadow();

    &:hover {
      box-shadow: makeShadow(hover);
    }

    &:focus {
      box-shadow: makeShadow(press);
    }
  }
}

@function makeShadow($type: flat) {
  @if $type == hover {
    @return 1px 1px 3px var(--shadow-right), -1px -1px 3px var(--shadow-left);
  } @else if $type == press {
    @return inset 3px 3px 5px var(--shadow-right),
      inset -3px -3px 5px var(--shadow-left);
  } @else if $type == md {
    @return inset 1px 1px 1px var(--shadow-right),
      inset -1px -1px 1px var(--shadow-left);
  } @else {
    @return 3px 3px 5px var(--shadow-right), -2px -2px 4px var(--shadow-left);
  }
}
