// Reset box-sizing to border-box
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

a {
  color: none;
}

body {
  margin: 0;
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-title;
}

h1 {
  font-size: 2em;
}

input {
  background: none;
  border: none;
  outline: none;
}

@include respond-to(tablet) {
  html {
    font-size: 95%;
  }
}

@include respond-to(mobile) {
  html {
    font-size: 85%;
  }
}
