/* Link Buttons */
.link.text {
  color: var(--font-1);

  &:hover {
    color: var(--font-2);
  }
}

.link.active-text {
  color: var(--font-2);
}

.link.button {
  @include activeShadow(link);
  border: 1px solid var(--bg-grey);
}

.all-button {
  .bottom-tag,
  .bottom-category {
    border: none;
  }

  .link.active-button {
    background-color: var(--strong);
    color: var(--bg);
  }
}

.li-tag,
.all-tags,
.bottom-tag,
.post-tag {
  border-radius: $radius-round;
}

.li-tag,
.post-tag {
  padding: 0.29rem 0.72rem 0.22rem 0.78rem;
  color: var(--font-1);
  font: {
    size: 0.75rem;
    family: $font-title;
    weight: 600;
  }
}

.li-category,
.all-categories,
.bottom-category {
  border-radius: $radius;
}

.li-category,
.all-tags,
.all-categories,
.bottom-tag,
.bottom-category {
  padding: 0.42rem 0.72rem 0.35rem 0.72rem;
  color: var(--font-1);
  font: {
    size: 0.9rem;
    family: $font-title;
    weight: 600;
  }
}

.path {
  margin: 0.5rem 0;
  font: {
    size: 0.9rem;
    family: $font-title;
    weight: 600;
  }
}

.strong {
  color: var(--strong);
}

/* Theme Switch */
.switch-checkbox {
  display: none;
}
.switch-label-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  color: var(--mode);
  border-radius: 10px;
  box-shadow: var(--shadow-toggle);

  &:hover {
    cursor: pointer;
  }
}

/* Search */
.search {
  display: flex;
  align-items: center;
  padding: 10px;

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 3px;
    color: var(--primary);
    font-size: 1.3rem;
  }

  .search-box {
    position: relative;
    z-index: 1;
    padding-left: 45px;
    margin-top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 35px;
    transition: width 0.3s ease;
    color: var(--primary);
    cursor: pointer;
    font: {
      size: 0.9rem;
      family: $font-title;
      weight: 600;
    }
    @include activeShadow(input);

    &::placeholder {
      color: var(--primary);
    }

    &:focus {
      width: 200px;
      outline: none;
      cursor: text;
    }
  }
}
