/* Link Buttons */
.link.text {
  color: var(--font-1);

  &:hover {
    color: var(--font-2);
  }
}

.link.active-text {
  color: var(--font-2);
}

.link.button {
  @include activeShadow(link);
  border: 1px solid var(--bg-grey);
}

.all-button {
  .bottom-tag,
  .bottom-category {
    border: none;
  }

  .link.active-button {
    background-color: var(--strong);
    color: var(--bg);
  }
}

.li-tag,
.all-tags,
.bottom-tag,
.post-tag {
  border-radius: $radius-round;
}

.li-tag,
.post-tag {
  padding: 0.29rem 0.72rem 0.22rem 0.78rem;
  color: var(--font-1);
  font: {
    size: 0.75rem;
    family: $font-title;
    weight: 600;
  }
}

.li-category,
.all-categories,
.bottom-category {
  border-radius: $radius;
}

.li-category,
.all-tags,
.all-categories,
.bottom-tag,
.bottom-category {
  padding: 0.42rem 0.72rem 0.35rem 0.72rem;
  color: var(--font-1);
  font: {
    size: 0.9rem;
    family: $font-title;
    weight: 600;
  }
}

.path {
  margin: 0.5rem 0;
  font: {
    size: 0.9rem;
    family: $font-title;
    weight: 600;
  }
}

.strong {
  color: var(--strong);
}

.invisible {
  display: none;
}

/* Theme Switch */
.switch-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  color: var(--mode);
  border-radius: 10px;
  box-shadow: var(--shadow-toggle);

  &:hover {
    cursor: pointer;
  }
}

/* Filter Checkbox*/
.filter-checkbox {
  &:checked + label {
    color: var(--font-2);
    box-shadow: makeShadow(press);
  }
}

.filter-label {
  display: flex;
  margin: 10px 0;
  border-radius: 20px;
  color: var(--font-1);
  width: 120px;
  padding: 3px 13px;
  box-shadow: makeShadow();
  font: {
    size: 0.9rem;
    weight: 600;
  }

  &:hover {
    cursor: pointer;
  }

  .icon {
    margin-right: 5px;
    font-size: 1rem;
  }
}

.reset {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: var(--font-1);
  font: {
    size: 1.3rem;
    family: $font-title;
  }

  &:hover {
    cursor: pointer;
    color: var(--font-2);
  }
}

.close {
  align-items: right;
  color: var(--font-1);
  font-size: 2rem;
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.side-checkbox {
  &:checked + .side-label {
    color: #6091e6;
    box-shadow: makeShadow(press);
  }
}

.side-label {
  display: none;
}

/* Hide Keywords*/
.key-checkbox {
  &:checked + label {
    color: var(--strong);
    box-shadow: makeShadow(press);
  }
}

.key-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  color: var(--font-1);
  width: 40px;
  height: 40px;
  padding: 10px;
  box-shadow: makeShadow();
  font: {
    size: 3rem;
    weight: 600;
  }

  &:hover {
    cursor: pointer;
  }

  .icon {
    margin-right: 2px;
    font-size: 1rem;
  }
}

/* Search */
.search-click {
  display: flex;
  align-items: center;

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 35px;
    height: 35px;
    // margin-top: 4px;
    margin-left: 3px;
    color: var(--font-1);
    font-size: 1.2rem;
    font-weight: 600;
  }

  .search-box {
    position: relative;
    z-index: 1;
    padding-left: 40px;
    // margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: width 0.3s ease;
    color: var(--font-2);
    cursor: pointer;
    font: {
      size: 0.9rem;
      family: $font-title;
      weight: 600;
    }
    @include activeShadow(input);

    &::placeholder {
      color: var(--font-1);
    }

    &:focus {
      width: 160px;
      outline: none;
      cursor: text;
    }
  }
}

.search-wide {
  display: flex;
  align-items: center;
  padding-left: 20px;

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    // margin-top: 4px;
    margin-left: 5px;
    color: var(--font-1);
    font-size: 1.3rem;
  }

  .search-box {
    position: relative;
    z-index: 1;
    padding-left: 45px;
    // margin-top: 5px;
    width: 200px;
    height: 45px;
    border-radius: 35px;
    transition: width 0.3s ease;
    color: var(--font-2);
    cursor: pointer;
    font: {
      size: 0.9rem;
      family: $font-title;
      weight: 600;
    }
    @include activeShadow(input);

    &::placeholder {
      color: var(--font-1);
    }

    &:focus {
      outline: none;
      cursor: text;
    }
  }
}

@include respond-to(mobile) {
  .side-label {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 10px;
    border-radius: 10px;
    color: var(--font-1);
    width: 40px;
    height: 40px;
    padding: 10px;
    box-shadow: makeShadow();
    font: {
      size: 3rem;
      weight: 600;
    }

    &:hover {
      cursor: pointer;
    }

    .icon {
      margin-right: 2px;
      font-size: 1rem;
    }
  }
}
