/* Background */
.light,
.dark {
  background-color: var(--bg);
  color: var(--font);
}

#main {
  position: relative;
  margin: 20px auto 0 auto;
  z-index: 2;
  background-color: var(--bg);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 80px;
  padding-right: 80px;
}

.container-wide {
  margin: 0 auto;
  max-width: 1024px;
}

.vertical {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Header */
.fix-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--bg);

  .header {
    height: 150px;
  }

  &.scrolled {
    box-shadow: $shadow;

    .header {
      height: 80px;
      transition: height 0.3s ease;
    }
  }

  .wrap {
    display: flex;
    align-items: center;

    .nav-list {
      display: flex;
    }

    .nav-item {
      padding: 0 20px;
      font: {
        size: 1.1rem;
        family: $font-title;
        weight: 600;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
  width: 100vw;
  min-width: $small;
  max-width: $large;

  .wrap {
    height: 44px;
    display: flex;
  }
}

.to-home {
  display: flex;
  align-items: center;

  .title {
    margin: 5px 0 0 15px;
    color: var(--font-1);
    font: {
      size: 1.2rem;
      family: $font-logo;
    }
  }

  .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d4c9bc;
  font-size: 1.3rem;
  font-family: $font-title;
  padding: 150px 100px;
  color: #3c3d4d;
  z-index: 100;

  .img {
    height: 300px;
  }

  .text {
    padding-left: 10px;
  }

  .warn-icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding: 0 10px;
    .ie {
      padding-left: 10px;
      font-size: 2rem;
      color: #c24c50;
    }
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  font-family: $font-title;
  z-index: 0;
  position: relative;

  .set {
    width: 100%;
  }

  .center {
    padding: 130px 0;
    font-size: 1rem;
    font-family: $font-subtitle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .front {
    position: relative;
    z-index: 1;
    background-color: var(--bg);
  }

  .pusher {
    position: relative;
    z-index: -2;
    height: 28rem;
    margin: 0;
    background-color: var(--bg-grey-strong);
  }

  .behind {
    position: fixed;
    display: block;
    z-index: -1;
    bottom: 0;
    background-color: var(--bg-grey-strong);
  }
}

.site-map-title {
  display: flex;
  align-items: center;
  color: var(--font-2);

  .title {
    padding: 4px 5px;
    font-size: 0.95rem;
  }

  .icon {
    display: flex;
    font-size: 1.2rem;
  }
}

.site-map {
  padding: 1rem 2rem 3rem 3rem;
  display: grid;
  // grid-template-rows: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid var(--bg-grey-stronger);
}

.list {
  display: flex;
  flex-direction: column;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .index {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--font-2);
    margin: 1rem 0 0.5rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;

    a {
      color: var(--font-2);
      padding: 0.1rem 0;
    }
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 50px 5rem;
}

.icon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;

  .icon {
    margin: 0 10px;
    width: 2.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.copy-visible {
  background: none;
  border: none;
  padding: 0;

  &:hover:before {
    content: attr(message-data);
    padding: 3px;
    background-color: var(--bg-grey);
    border-radius: $radius;
    line-height: 1;
    font-family: $font-title;
    font-size: 0.7rem;
    color: var(--font-2);
  }
}

@include respond-to(tablet) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@include respond-to(mobile) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vertical {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    flex-direction: column;
    padding: 25px 0;
  }

  .fix-container {
    &.scrolled {
      .header {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
      }

      .to-home {
        .title {
          display: none;
        }
      }

      .nav-list {
        li {
          padding: 0;
        }
      }
    }
  }

  .icons {
    justify-content: center;
    align-items: center;
  }

  .site-map {
    padding: 1rem 0.3rem 4rem 2.5rem;
  }

  .warning {
    flex-direction: column;
    padding: 80px 40px 50px;
  }
}
