/* Background */
.light,
.dark {
  background-color: var(--bg);
  color: var(--font);
}

#main {
  margin: 120px auto 0 auto;
}

section {
  margin-top: 4rem;
}

.container {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1024px;
}

.container-wide {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1024px;
}

@include respond-to(tablet) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include respond-to(mobile) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.section-grey {
  background-color: var(--bg-grey);
}

.content {
  margin: 0 auto;
  min-width: $small;
  max-width: $large;
}

/* Header */
.fix-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--bg);

  .header {
    height: 150px;
  }

  &.scrolled {
    box-shadow: $shadow;

    .header {
      height: 80px;
      transition: height 0.3s ease;
    }
  }

  .wrap {
    display: flex;
    align-items: center;

    .nav-list {
      display: flex;
    }

    .nav-item {
      padding: 0 20px;
      font: {
        size: 1.1rem;
        family: $font-title;
        weight: 600;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
  width: 100vw;
  min-width: $small;
  max-width: $large;

  .wrap {
    height: 44px;
    display: flex;
  }
}

.to-home {
  display: flex;
  align-items: center;

  .title {
    margin: 5px 0 0 15px;
    color: var(--font-1);
    font: {
      size: 1.2rem;
      family: $font-logo;
    }
  }

  .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 100px 0 250px 0;
  font-family: $font-subtitle;
}

@include respond-to(mobile) {
  .header {
    flex-direction: column;
    padding: 25px 0;
  }

  .fix-container {
    &.scrolled {
      .header {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
      }

      .to-home {
        .title {
          display: none;
        }
      }

      .nav-list {
        li {
          padding: 0;
        }
      }
    }
  }
}
