.post-list {
  font-family: $font-title;

  .post-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 50px;
    border-bottom: 1px solid var(--bg-grey);

    &:hover {
      background-color: var(--hover-bg);
    }

    .item-info {
      display: flex;
      color: var(--font);

      .img {
        display: flex;
        align-items: center;
      }

      .level {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }

      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;

        .title {
          padding: 0 5px;
          font-size: 1.35rem;
          word-break: break-word;
        }

        .small {
          padding: 0.27rem 0 0 6px;
          color: var(--font-2);
          font-size: 0.9rem;
        }
      }
    }

    .item-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      li {
        padding: 3px 2px;
      }
    }
  }
}

/* Simple List in Index Page*/
.simple {
  .item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 10px 0;
    color: var(--font);
    background-color: var(--bg);
    border-radius: $radius;
    box-shadow: $shadow;

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  .wrap {
    display: flex;
    align-items: center;

    .title {
      padding: 0 5px 0 10px;
      word-break: keep-all;
      line-height: 1;
      font: {
        size: 1.2rem;
        weight: 600;
      }
    }

    .img {
      display: flex;
    }
  }

  .tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .li-tag {
      margin: 2px 2px 4px 2px;
      padding: 4px 10px 3px;
      border-radius: $radius-round;
      font-size: 0.75rem;
      color: var(--font-1);
      box-shadow: makeShadow();
    }
  }
}

/* Square List in Index Page*/
.post-list-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  font-family: $font-title;
}

.square {
  .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 130px;
    color: var(--font);
    background-color: var(--bg);
    border-radius: $radius;
    box-shadow: $shadow;

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      padding: 5px 0 0 0;
      word-break: keep-all;
      font: {
        size: 1rem;
        weight: 600;
      }
    }

    // .img {
    //   display: flex;
    // }
  }

  .tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .li-tag {
      margin: 2px 2px 4px 2px;
      padding: 3px 8px 3px;
      border-radius: $radius-round;
      font-size: 0.6rem;
      color: var(--font-1);
      box-shadow: makeShadow();
    }
  }
}

@include respond-to(tablet) {
  .simple {
    .item {
      flex-direction: column;
      align-items: center;
      padding: 17px 20px 15px;

      .tags {
        justify-content: center;
        padding: 10px 0 0 0;

        .li-tag {
          margin: 5px 2px 4px 2px;
        }
      }
    }
  }

  .post-list {
    .post-item {
      flex-direction: column;

      .item-info {
        .wrap {
          .title {
            word-break: break-all;
          }
        }
      }
      .tag-list {
        justify-content: center;
        padding-top: 10px;
        li {
          margin-top: 5px;
        }
      }
    }

    .basic {
      align-items: center;
    }
  }
}

@include respond-to(mobile) {
  .post-list {
    .post-item {
      padding: 20px;
    }
  }

  .post-list-row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .square {
    .item {
      justify-content: center;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
