/* Simple List in Index Page*/

.simple {
  font-family: $font-body;

  .item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 10px 0;
    color: var(--font);
    background-color: var(--bg);
    border-radius: $radius;
    box-shadow: $shadow;

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  .wrap {
    display: flex;
    align-items: center;

    .img {
      display: flex;
    }

    .icon {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
  }

  .title {
    display: flex;
    margin: 0;
    padding: 5px 5px 0 10px;
    font-size: 1rem;
    word-break: break-all;
  }

  .tag-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .li-tag {
      margin: 2px;
      padding: 4px 10px;
      border-radius: $radius-round;
      font-size: 0.75rem;
      color: var(--nav);
      box-shadow: makeShadow();
    }
  }
}

/* Basic Post List */

.basic {
  margin: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  font-family: $font-body;

  &:hover {
    background-color: var(--hover-bg);
  }

  .info {
    display: flex;
    color: var(--font);

    .img {
      display: flex;
      align-items: center;
    }

    .icon {
      font-size: 2.1rem;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 15px;

      .title {
        padding: 0 5px;
        font-size: 1.2rem;
        word-break: break-all;
        word-break: normal;
      }

      .date {
        padding: 5px 0 0 6px;
        color: var(--nav-active);
        font-size: 0.7rem;
      }
    }
  }

  .tag-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;

    li {
      padding: 3px 2px;
    }
  }
}

@include respond-to(mobile) {
  .simple {
    .item {
      flex-direction: column;
      align-items: center;

      .tag-list {
        padding: 10px 0 0 0;
      }
    }
  }

  .basic {
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;

    .info {
      .wrap {
        padding: 0 0 0 15px;
      }
    }

    .tag-list {
      padding: 15px 0 5px;
    }
  }
}
