/* Index */
.index-header {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 450px;
    font-size: 1.5rem;

    .type {
      font-family: $font-capital;
    }

    .curser {
      animation: blink 1s infinite ease;
    }

    .description {
      margin-top: 10px;
      font: {
        size: 1.15rem;
        family: $font-title;
      }
      word-break: keep-all;
    }
  }

  .code {
    margin: 0 10px;
    min-width: 350px;
  }

  pre {
    margin: 1.5rem auto;
    padding-top: 50px;
    max-width: 460px;
    box-shadow: $wide-shadow;
    font-size: 1rem;

    &::before {
      content: '\2022 \2022 \2022';
      position: absolute;
      padding: 20px 10px 15px;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--primary);
      color: var(--bg);
      font-size: 40px;
      line-height: 0;
      letter-spacing: -0.45em;
    }

    &:hover {
      animation: beating 1.5s infinite ease;
    }
  }
}

.index-sub {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .top {
    text-align: center;

    .title {
      padding: 1rem 0;
      @include font-header;
      color: var(--bg-grey);
    }
  }
}

/* Blog */
.section-blog-header {
  background-color: var(--bg-grey);
}

.blog-header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  min-height: 400px;
  justify-content: center;
  background-image: url('../styles/images/computer.png');
  background-size: 280px;
  background-position: 95% 115%;
  background-repeat: no-repeat;

  .title {
    padding: 0.7rem 0px;
    @include font-header;
    color: var(--bg-grey);
  }

  .wrap {
    display: flex;
    padding: 0.7rem 0;

    .category-list {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 8px 5px;
      }
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      padding-right: 20px;
      font-weight: 600;
      color: var(--primary);
    }
  }
}

/* About */
.section-about-header {
  background-color: var(--bg-about);
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;

  .title {
    @include font-header;
    color: var(--bg-about);
  }

  .description {
    margin-top: 1rem;
    max-width: 450px;
    font: {
      size: 1.1rem;
      family: $font-title;
      weight: 600;
    }
    word-break: keep-all;
  }
}

.float-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
  padding: 0 6rem;
  max-width: $large;

  .image-sit {
    height: 350px;
    position: absolute;
    top: -215px;
  }
}

/* NOT FOUND */

.not {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .title {
    margin: 2rem 0;
    font: {
      size: 3rem;
      family: $font-subtitle;
    }
  }

  .back-text {
    text-shadow: var(--shadow-text);
    line-height: 1;
    color: var(--bg);
    font: {
      size: 25rem;
      weight: 600;
    }
  }

  .float-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    min-width: $small;
    max-width: $large;

    .img {
      position: absolute;
      width: 150px;
      top: -230px;
    }
  }
}

@include respond-to(tablet) {
  .index-header {
    flex-direction: column-reverse;

    .title {
      margin: 1.5rem auto 0 auto;
    }
  }
}

@include respond-to(mobile) {
  .index-header {
    .title {
      padding: 0 30px;
    }
    .code {
      min-width: fit-content;
    }
  }

  .blog-header {
    background-size: 130px;
    background-position: 95% 103%;

    .wrap {
      flex-direction: column;
    }
  }

  .float-container {
    padding: 0 20px;

    .image-sit {
      height: 220px;
      position: absolute;
      top: -135px;
    }
  }

  .not {
    .back-text {
      font-size: 12rem;
    }

    .float-container {
      .img {
        position: absolute;
        width: 80px;
        top: -90px;
      }
    }
  }
}
