/* Color & Image */
.bg-grey {
  background-color: var(--bg-grey);
}

.bg-blog {
  background: {
    image: url('../styles/images/computer1.svg');
    size: 280px;
    position: 0% bottom;
    repeat: no-repeat;
  }
}

.bg-algorithm {
  background: {
    image: url('../styles/images/computer3.svg');
    size: 225px;
    position: right bottom;
    repeat: no-repeat;
  }
}

.bg-about {
  background: {
    image: url('../styles/images/computer2.svg');
    size: 270px;
    position: right bottom;
    repeat: no-repeat;
  }
}

.bg-md {
  background: {
    image: url('../styles/images/computer4.svg');
    size: 250px;
    position: left bottom;
    repeat: no-repeat;
  }
}

.bg-filter {
  background: {
    image: url('../styles/images/computer5.svg');
    size: 270px;
    position: left bottom;
    repeat: no-repeat;
  }
}

/* Page Layout */

// Page Top

.page-top {
  max-width: 1024px;
  margin: 0 auto;

  padding-top: 130px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-top-title {
    color: var(--font-2);
    font: {
      family: $font-capital;
      weight: 400;
      size: 3rem;
    }
  }
}

// Page Middle

.page-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: var(--font-2);
  padding-top: 50px;
  padding-bottom: 50px;

  .wrap-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 20px;

  li {
    margin: 8px 5px;
  }
}

.wrap-buttons {
  display: flex;
  align-items: center;
}

// Page Body

.page-left {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 20px;
}

.menu {
  margin-top: 30px;

  .menu-title {
    color: var(--font-2);
    font: {
      family: $font-title;
      size: 1.1rem;
    }
  }
}

.page-body {
  width: 100%;
  min-height: 400px;
}

.page-up {
  display: none;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  color: var(--bg-grey-strong);
  font: {
    size: 2rem;
    family: $font-title;
    weight: 600;
  }
}

/* Index */
.index-header {
  display: flex;
  justify-content: space-between;
  padding: 200px 10px 120px 10px;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 450px;
    font-size: 1.5rem;

    .type {
      font-family: $font-capital;
    }

    .curser {
      animation: blink 1s infinite ease;
    }

    .description {
      margin-top: 10px;
      font: {
        size: 1.15rem;
        family: $font-title;
      }
      word-break: keep-all;
    }
  }

  .code {
    margin: 0 10px;
    min-width: 350px;
  }

  pre {
    margin: 1.5rem auto;
    padding-top: 50px;
    max-width: 460px;
    box-shadow: $wide-shadow;
    font-size: 1rem;

    &::before {
      content: '\2022 \2022 \2022';
      position: absolute;
      padding: 20px 10px 15px;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--primary);
      color: var(--bg);
      font-size: 40px;
      line-height: 0;
      letter-spacing: -0.45em;
    }

    &:hover {
      animation: beating 1.5s infinite ease;
    }
  }
}

.index-sub {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .top {
    text-align: center;

    .title {
      padding: 1rem 0;
      font: {
        size: 3rem;
        weight: 400;
        family: $font-capital;
      }
      color: var(--font-2);
    }
  }

  .body {
    .subtitle {
      font-family: $font-capital;
      font-weight: 400;
      font-size: 1.5rem;
      margin: 3rem 5px 1rem;
    }
  }
}

/* NOT FOUND */
.not-title {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font: {
    size: 3rem;
    family: $font-subtitle;
  }
}

.not-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;

  .back-text {
    text-shadow: var(--shadow-text);
    line-height: 1;
    color: var(--bg);
    font: {
      size: 25rem;
      weight: 600;
    }
  }

  .float-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    min-width: $small;
    max-width: $large;

    .img {
      position: absolute;
      width: 150px;
      top: -230px;
    }
  }
}

@include respond-to(tablet) {
  .index-header {
    flex-direction: column-reverse;

    .title {
      margin: 1.5rem auto 0 auto;
    }
  }
}

@include respond-to(mobile) {
  .page-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .wrap-line {
      flex-direction: column-reverse;
      align-items: flex-start;

      .wrap-buttons {
        width: 100%;
        justify-content: flex-end;
      }
    }
  }

  .page-left {
    display: none;
  }

  .side-checkbox {
    &:checked ~ .page-up {
      transition: bottom 0.6s ease;
      bottom: 0px;
    }
  }

  .page-up {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    height: 330px;
    bottom: -330px;
    left: 0;
    background-color: var(--bg);
    transition: bottom 0.6s ease;
    z-index: 100;
    box-shadow: -2px -2px 4px var(--shadow-left);
    font-weight: 400;
  }

  .m-center {
    display: flex;
    justify-content: space-around;
  }
  .m-right {
    align-self: flex-end;
  }
  .m-left {
    align-self: flex-start;
  }

  .index-header {
    padding-top: 150px;
    padding-bottom: 80px;

    .title {
      padding: 0 10px;
    }
    .code {
      min-width: fit-content;
    }
  }

  .not-page {
    min-height: 200px;

    .back-text {
      font-size: 12rem;
    }

    .float-container {
      .img {
        position: absolute;
        width: 80px;
        top: -90px;
      }
    }
  }
}
