.post-top {
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .wrap {
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2.5rem;
    word-break: keep-all;
  }

  .date {
    margin: 5px 8px;
  }

  .tag-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      margin: 3px;
    }
  }
}

.comments {
  padding-top: 3rem;

  .title {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bg-grey);
    color: var(--primary);
    font: {
      size: 1.8rem;
      family: $font-title;
      weight: 600;
    }
  }

  .utterances {
    padding-top: 1rem;
  }
}

/* Filtered Page */
.filter-top {
  padding-top: 70px;

  .title {
    font: {
      size: 2rem;
      family: $font-subtitle;
    }
  }

  .by {
    text-decoration: underline;
  }
}

.all {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .title {
    color: var(--font-2);
    font: {
      size: 1.3rem;
      family: $font-subtitle;
    }
  }

  .all-button {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;

    li {
      margin: 8px 5px;
    }
  }
}

.md-page {
  padding-top: 30px;
  padding-bottom: 30px;
}

@include respond-to(mobile) {
  .post-top {
    flex-direction: column-reverse;
    align-items: flex-start;

    .thumbnail {
      width: 60px !important;
      height: 60px !important;
    }
  }
}
